<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<!-- appenders -->
	<property name="log-dir" value="./target/logs" />
	<property name="loglevel-spring" value="INFO" />
	<include resource="logback-spring-appenders.xml" />
	<include resource="logback-spring-appenders-local.xml" />

	<!-- loggers -->
	<property name="loglevel-jp.ecuacion" value="DEBUG" />
	<property name="loglevel-security" value="DEBUG" />
	<property name="loglevel-sql" value="INFO" />
	<property name="loglevel-root" value="INFO" />
	<include resource="logback-spring-loggers-for-local.xml" />
	<include resource="logback-spring-loggers-web-for-local.xml" />

</configuration>
